.top-bar{
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}

.home-text{
    color: var(--primary-white);
/* / text-align: center; 
/ font-family: SF Pro Text; / */
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.3px;
padding:10px 
}

/* form section  */

.nav-tab{

width:auto;
display: flex;
padding:30px 84px 0px 65px;
border-bottom: 1px solid #2F3336;
justify-content:space-between;
font-size: 14px;
font-weight: 700;
font-family: SF Pro Text; 
line-height: 16.71px;
letter-spacing: -0.3px;
}
.nav-tab span a{
    text-decoration: none;
    border-bottom: 4px solid #4A98E9;
    color: var(--primary-white);
   
}

.tweet-editor{
    color: var(--primary-white);
    display: flex;
    height: 10vh;
    padding:12px 0px 96px 20px;
}
.inside-form{
    display: flex;
    flex-direction: row;
}
.inside-form img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.tweet-editor input{
    height: 21px;
    background: none;
    margin:10px 0px 0px 8px;
    border: none;
    color: #757575;
    justify-content: center;
    color: #6E767D;
    font-size: 20px;
    font-weight: 400;
}

.tweet-editor input:focus{
    color: white;
    outline: none;
}
.tweet-editor button{
    display: flex;
    width: 74px;
    height :34px;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 36px;
    margin-top: 54px;
    border: none;
}