:root{
    --primary-white: #FFFFFF;
    --Tertiary-Grey: #CBD0D9;
    --Secondary-Charcoal: #3A3D45;
    --Primary-Black: #000000;
    --Secondary-Blue: #4A98E9;
}

body{
    background-color: var(--Primary-Black);
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

#root{
display: flex;
flex-direction: row;
gap: 30px;
}
.feed-border{
    width: auto;
    left: 700px;
    
}
.side-list{
    padding: 0;
}
.navigation-bar{
padding-left: 280px;
    /* left: 10px; */ 
}


@media only screen and (max-width: 767px){
.navigation-bar{
      display: none;
}
.post-button{
    justify-content: end;
    align-items: end;
}
.feed-border{
    margin: 20px;
    
}

  
.feed-wrapper{
    border: none;
}
.top-bar{
      width: 100vw;
}
.tweets{
      width: 100vw;
}
.sidebar{
      display: none;
}
}

@media only screen and (max-width: 1366px) and (min-width:767px){
    .navigation-bar{
      padding-left:120px;
}
  
.feed-wrapper .feed-container{
      width: 100vw;
}
}

