:root{
    --primary-white: #FFFFFF;
    --Tertiary-Grey: #CBD0D9;
    --Secondary-Charcoal: #3A3D45;
    --Primary-Black: #000000;
    --Secondary-Blue: #4A98E9;
}

body{
    background-color: var(--Primary-Black);
}