.main-div{
    display: flex;
    text-align: center;
    flex-direction: row;
    position: relative;
    width: 300px; /* Set a width for your container */
    height: 270px /* Set a height for your container */
}
.profile{
    position: absolute;
    bottom: 0;
    left: 4rem;
}
.user-name{
    color: var(--primary-white);
    position: absolute;
    left: 7rem;
    bottom: 28px;
    font-size: 15px;
}
.userId{
    color: gray;
    position: absolute;
    left: 7rem;
    bottom: 17px;
    font-size: small;
}
.threeDot{
    position: absolute;
    left: 17rem;
    top: 230px;
}
.vector{
    position: absolute;
    left: 216px;
    top: 226px;
}
.main-div .profile img{
    border-radius: 40px;
}